.template {
    background-color: #e0e0e0;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background-color: blue;
    }

    .mainContainer {
        height: inherit;

        display: flex;

        .sidebar {
            height: calc(100vh - 80px - 160px);

            background-color: #D9D9D9;
        }
    
        .mainContent {
            padding: 16px;
            width: 100%;
            height: calc(100vh - 64px - 128px - 64px - 16px);
            overflow: scroll;
        }
    }

    .footer {
        color: #ffffff;
        background-color: #000000;
    }
}